body {
	height: 100%;
	display: flex;
	flex-direction: column;
}
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-corner {
	background: var(--bg-color-grey-04);
}
*::-webkit-scrollbar-thumb {
	background: var(--bg-color-grey-06);
}
._heading {
	background: var(--bg-color-grey-04);
	padding: .15in .25in;
}
._content {
	flex: 1 1 auto;
}
._content form {
	margin: 0;
	border: 0;
	width: 100%;
	padding: 0;
}
._content table, ._content tr {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}
._content td {
	vertical-align: top;
	padding: 0.15in;
	white-space: nowrap;
}
._content tr:nth-child(odd) {
	background: var(--bg-color-grey-04);
}
._content tr:nth-child(even) {
	background: var(--bg-color-grey-03);
}
._content {
	min-height: 0;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
#preview-table {
	display: flex;
	overflow: auto;
}
#progress-indicator td {
	display: block;
	width: 0%;
	background: var(--bg-color-green-05);
	padding: 0;
	height: 0.25in;
}
.file-wrapper input[type="file"] {
	padding: 0;
}
.file-wrapper {
	display: flex;
}
.file-wrapper #file-path {
	flex: 1 0 auto;
}