:root {
/*	--bg-color-grey-01: rgba( 10, 10, 10,1);
	--bg-color-grey-02: rgba( 20, 20, 20,1);
	--bg-color-grey-03: rgba( 30, 30, 30,1);
	--bg-color-grey-04: rgba( 40, 40, 40,1);
	--bg-color-grey-05: rgba( 50, 50, 50,1);
	--bg-color-grey-06: rgba( 60, 60, 60,1);
	--bg-color-grey-07: rgba( 70, 70, 70,1);
	--bg-color-grey-08: rgba( 80, 80, 80,1);
	--bg-color-grey-09: rgba( 90, 90, 90,1);
	--bg-color-grey-10: rgba( 0, 0, 0,0.25);*/
	--bg-color-grey-01: rgba(100,100,100,0.1);
	--bg-color-grey-02: rgba(100,100,100,0.2);
	--bg-color-grey-03: rgba(100,100,100,0.3);
	--bg-color-grey-04: rgba(100,100,100,0.4);
	--bg-color-grey-05: rgba(100,100,100,0.5);
	--bg-color-grey-06: rgba(100,100,100,0.6);
	--bg-color-grey-07: rgba(100,100,100,0.7);
	--bg-color-grey-08: rgba(100,100,100,0.8);
	--bg-color-grey-09: rgba(100,100,100,0.9);
	--bg-color-grey-10: rgba( 0, 0, 0,0.25);
	--bg-color-red-01: rgba(255,25,0,0.2);
	--bg-color-red-02: rgba(255,25,0,0.4);
	--bg-color-red-03: rgba(225,25,0,0.6);
	--bg-color-red-04: rgba(255,25,0,0.8);
	--bg-color-red-05: rgba(255,25,0,1.0);
	--bg-color-orange-01: rgba(255,100,0,0.2);
	--bg-color-orange-02: rgba(255,100,0,0.4);
	--bg-color-orange-03: rgba(255,100,0,0.6);
	--bg-color-orange-04: rgba(255,100,0,0.8);
	--bg-color-orange-05: rgba(255,100,0,1.0);
	--bg-color-yellow-01: rgba(255,255,0,0.2);
	--bg-color-yellow-02: rgba(255,255,0,0.4);
	--bg-color-yellow-03: rgba(255,255,0,0.6);
	--bg-color-yellow-04: rgba(255,255,0,0.8);
	--bg-color-yellow-05: rgba(255,255,0,1.0);
	--bg-color-green-01: rgba(0,255,100,0.2);
	--bg-color-green-02: rgba(0,255,100,0.4);
	--bg-color-green-03: rgba(0,255,100,0.6);
	--bg-color-green-04: rgba(0,255,100,0.8);
	--bg-color-green-05: rgba(0,255,100,1.0);
}

* {
	font-family: sans-serif;
	color: #EEE;
	box-sizing: border-box;
	line-height: 1.25em;
}
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-corner {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background: var(--bg-color-grey-04);
}
*:focus {
    outline: none;
}

html {
	background: transparent;
	font-size: 12pt;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

form {
	margin: 0;
}
input, button {
	background: var(--bg-color-grey-04);
	font-size: 12pt;
	border: 0;
	padding: 4px 8px;
	display: inline-block;
}
button.action-reset {
	background: var(--bg-color-red-02);
}
input:not([type="text"]):not([disabled]), button:not([disabled]) {
	cursor: pointer;
}
input:disabled, button:disabled {
	background: var(--bg-color-grey-05);
	color: #AAA;
}
input[type="text"] {
	background: transparent;
}
input:readonly {
	cursor: text;
	color: #AAA;
}
input:not([type="text"]):not([disabled]):hover, input:not([type="text"])[active], button:not([disabled]):hover, button[active] {
	background: var(--bg-color-grey-05);
}
button.action-reset:not([disabled]):hover {
	background: var(--bg-color-red-03);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: 1.25em;
}

table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
	border: 0;
	padding: 4px 4px;
}

td {
	vertical-align: top;
	padding: 4px 4px;
}

#title-bar {
    display: flex;
    user-select: none;
}
#title {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1em;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    flex: 1 0 auto;
}
#title, .window-button {
    padding: 0.05in 0.10in;
}
.window-button:hover {
    background: var(--bg-color-grey-02);
}

#content {
	min-height: 0;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.flex {
	display: flex;
}

#search {
	width: 100%;
}
#search-form {
	flex: 1 0 auto;
	display: flex;
}
#search-input {
	flex: 1 0 auto;
}

.flex-spacer {
	flex: 0 0 8px;
}

.button-set, #import-file, #search-form {
	display: flex;
	justify-content: flex-end;
	margin: 0px;
	padding: 4px 2px;
	background-color: var(--bg-color-grey-04);
}
.button-set {
	flex: 0 0 auto;
}
#import-file, #search-form {
	flex: 1 0 auto;
}
.button-set button, #import-file-path, #import-file-open, #search-input, #search-form button {
	background: transparent;
	min-width: 80px;
	flex: 0 0 auto;
	margin-left: 2px;
	margin-right: 2px;
}
.button-set button[active] {
	background: var(--bg-color-grey-02);
}
#bottom-action-buttons {
	padding: 0;
	margin-right: -2px;
}


#import-file-path, #search-input {
	flex: 1 0 auto;
}
#import-file-open, #search-form button {
	min-width: max-content;
}
#import-file-input {
    width: 0;
    padding: 0;
}

#preview {
	flex: 1 1 auto;
	display: flex;
	overflow: auto;
	padding: 0;
}
#preview tr:nth-child(odd) {
	background: var(--bg-color-grey-03);
}
#preview tr:nth-child(even) {
	background: var(--bg-color-grey-02);
}
#preview td {
}
#preview td:nth-child(odd) {
	background: var(--bg-color-grey-10);
}
#preview .flex {
	align-items: stretch;
}
#preview .flex > div {
	flex: 1 0 auto;
	white-space: pre-wrap;
	width: max-content;
	max-width: 80em;
}

#preview .delete-button {
    background: transparent;
}
#preview .delete-button:hover {
    background-color: var(--bg-color-red-02)
}

#progress-indicator {
	display: block;
	width: 0%;
	background: var(--bg-color-green-02);
	padding: 0;
	height: 8px;
}



[hidden] {
	visibility: hidden;
}